// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-1-name: 'icon-1';
$icon-1-x: 539px;
$icon-1-y: 361px;
$icon-1-offset-x: -539px;
$icon-1-offset-y: -361px;
$icon-1-width: 32px;
$icon-1-height: 28px;
$icon-1-total-width: 639px;
$icon-1-total-height: 525px;
$icon-1-image: '../img/icon-set.png';
$icon-1: (539px, 361px, -539px, -361px, 32px, 28px, 639px, 525px, '../img/icon-set.png', 'icon-1', );
$icon-10-1-name: 'icon-10-1';
$icon-10-1-x: 571px;
$icon-10-1-y: 207px;
$icon-10-1-offset-x: -571px;
$icon-10-1-offset-y: -207px;
$icon-10-1-width: 32px;
$icon-10-1-height: 32px;
$icon-10-1-total-width: 639px;
$icon-10-1-total-height: 525px;
$icon-10-1-image: '../img/icon-set.png';
$icon-10-1: (571px, 207px, -571px, -207px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-10-1', );
$icon-10-name: 'icon-10';
$icon-10-x: 539px;
$icon-10-y: 207px;
$icon-10-offset-x: -539px;
$icon-10-offset-y: -207px;
$icon-10-width: 32px;
$icon-10-height: 32px;
$icon-10-total-width: 639px;
$icon-10-total-height: 525px;
$icon-10-image: '../img/icon-set.png';
$icon-10: (539px, 207px, -539px, -207px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-10', );
$icon-10h-name: 'icon-10h';
$icon-10h-x: 590px;
$icon-10h-y: 140px;
$icon-10h-offset-x: -590px;
$icon-10h-offset-y: -140px;
$icon-10h-width: 32px;
$icon-10h-height: 32px;
$icon-10h-total-width: 639px;
$icon-10h-total-height: 525px;
$icon-10h-image: '../img/icon-set.png';
$icon-10h: (590px, 140px, -590px, -140px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-10h', );
$icon-11-name: 'icon-11';
$icon-11-x: 603px;
$icon-11-y: 361px;
$icon-11-offset-x: -603px;
$icon-11-offset-y: -361px;
$icon-11-width: 32px;
$icon-11-height: 25px;
$icon-11-total-width: 639px;
$icon-11-total-height: 525px;
$icon-11-image: '../img/icon-set.png';
$icon-11: (603px, 361px, -603px, -361px, 32px, 25px, 639px, 525px, '../img/icon-set.png', 'icon-11', );
$icon-11h-name: 'icon-11h';
$icon-11h-x: 571px;
$icon-11h-y: 361px;
$icon-11h-offset-x: -571px;
$icon-11h-offset-y: -361px;
$icon-11h-width: 32px;
$icon-11h-height: 25px;
$icon-11h-total-width: 639px;
$icon-11h-total-height: 525px;
$icon-11h-image: '../img/icon-set.png';
$icon-11h: (571px, 361px, -571px, -361px, 32px, 25px, 639px, 525px, '../img/icon-set.png', 'icon-11h', );
$icon-12-name: 'icon-12';
$icon-12-x: 539px;
$icon-12-y: 105px;
$icon-12-offset-x: -539px;
$icon-12-offset-y: -105px;
$icon-12-width: 51px;
$icon-12-height: 35px;
$icon-12-total-width: 639px;
$icon-12-total-height: 525px;
$icon-12-image: '../img/icon-set.png';
$icon-12: (539px, 105px, -539px, -105px, 51px, 35px, 639px, 525px, '../img/icon-set.png', 'icon-12', );
$icon-12h-name: 'icon-12h';
$icon-12h-x: 539px;
$icon-12h-y: 140px;
$icon-12h-offset-x: -539px;
$icon-12h-offset-y: -140px;
$icon-12h-width: 51px;
$icon-12h-height: 35px;
$icon-12h-total-width: 639px;
$icon-12h-total-height: 525px;
$icon-12h-image: '../img/icon-set.png';
$icon-12h: (539px, 140px, -539px, -140px, 51px, 35px, 639px, 525px, '../img/icon-set.png', 'icon-12h', );
$icon-13-name: 'icon-13';
$icon-13-x: 569px;
$icon-13-y: 269px;
$icon-13-offset-x: -569px;
$icon-13-offset-y: -269px;
$icon-13-width: 30px;
$icon-13-height: 32px;
$icon-13-total-width: 639px;
$icon-13-total-height: 525px;
$icon-13-image: '../img/icon-set.png';
$icon-13: (569px, 269px, -569px, -269px, 30px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-13', );
$icon-13h-name: 'icon-13h';
$icon-13h-x: 539px;
$icon-13h-y: 269px;
$icon-13h-offset-x: -539px;
$icon-13h-offset-y: -269px;
$icon-13h-width: 30px;
$icon-13h-height: 32px;
$icon-13h-total-width: 639px;
$icon-13h-total-height: 525px;
$icon-13h-image: '../img/icon-set.png';
$icon-13h: (539px, 269px, -539px, -269px, 30px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-13h', );
$icon-1d-name: 'icon-1d';
$icon-1d-x: 622px;
$icon-1d-y: 121px;
$icon-1d-offset-x: -622px;
$icon-1d-offset-y: -121px;
$icon-1d-width: 8px;
$icon-1d-height: 10px;
$icon-1d-total-width: 639px;
$icon-1d-total-height: 525px;
$icon-1d-image: '../img/icon-set.png';
$icon-1d: (622px, 121px, -622px, -121px, 8px, 10px, 639px, 525px, '../img/icon-set.png', 'icon-1d', );
$icon-1h-name: 'icon-1h';
$icon-1h-x: 603px;
$icon-1h-y: 333px;
$icon-1h-offset-x: -603px;
$icon-1h-offset-y: -333px;
$icon-1h-width: 32px;
$icon-1h-height: 28px;
$icon-1h-total-width: 639px;
$icon-1h-total-height: 525px;
$icon-1h-image: '../img/icon-set.png';
$icon-1h: (603px, 333px, -603px, -333px, 32px, 28px, 639px, 525px, '../img/icon-set.png', 'icon-1h', );
$icon-2-name: 'icon-2';
$icon-2-x: 601px;
$icon-2-y: 301px;
$icon-2-offset-x: -601px;
$icon-2-offset-y: -301px;
$icon-2-width: 32px;
$icon-2-height: 29px;
$icon-2-total-width: 639px;
$icon-2-total-height: 525px;
$icon-2-image: '../img/icon-set.png';
$icon-2: (601px, 301px, -601px, -301px, 32px, 29px, 639px, 525px, '../img/icon-set.png', 'icon-2', );
$icon-2h-name: 'icon-2h';
$icon-2h-x: 569px;
$icon-2h-y: 301px;
$icon-2h-offset-x: -569px;
$icon-2h-offset-y: -301px;
$icon-2h-width: 32px;
$icon-2h-height: 29px;
$icon-2h-total-width: 639px;
$icon-2h-total-height: 525px;
$icon-2h-image: '../img/icon-set.png';
$icon-2h: (569px, 301px, -569px, -301px, 32px, 29px, 639px, 525px, '../img/icon-set.png', 'icon-2h', );
$icon-3-name: 'icon-3';
$icon-3-x: 539px;
$icon-3-y: 239px;
$icon-3-offset-x: -539px;
$icon-3-offset-y: -239px;
$icon-3-width: 32px;
$icon-3-height: 30px;
$icon-3-total-width: 639px;
$icon-3-total-height: 525px;
$icon-3-image: '../img/icon-set.png';
$icon-3: (539px, 239px, -539px, -239px, 32px, 30px, 639px, 525px, '../img/icon-set.png', 'icon-3', );
$icon-3h-name: 'icon-3h';
$icon-3h-x: 603px;
$icon-3h-y: 207px;
$icon-3h-offset-x: -603px;
$icon-3h-offset-y: -207px;
$icon-3h-width: 32px;
$icon-3h-height: 30px;
$icon-3h-total-width: 639px;
$icon-3h-total-height: 525px;
$icon-3h-image: '../img/icon-set.png';
$icon-3h: (603px, 207px, -603px, -207px, 32px, 30px, 639px, 525px, '../img/icon-set.png', 'icon-3h', );
$icon-4-name: 'icon-4';
$icon-4-x: 590px;
$icon-4-y: 105px;
$icon-4-offset-x: -590px;
$icon-4-offset-y: -105px;
$icon-4-width: 32px;
$icon-4-height: 32px;
$icon-4-total-width: 639px;
$icon-4-total-height: 525px;
$icon-4-image: '../img/icon-set.png';
$icon-4: (590px, 105px, -590px, -105px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-4', );
$icon-4d-name: 'icon-4d';
$icon-4d-x: 622px;
$icon-4d-y: 105px;
$icon-4d-offset-x: -622px;
$icon-4d-offset-y: -105px;
$icon-4d-width: 13px;
$icon-4d-height: 16px;
$icon-4d-total-width: 639px;
$icon-4d-total-height: 525px;
$icon-4d-image: '../img/icon-set.png';
$icon-4d: (622px, 105px, -622px, -105px, 13px, 16px, 639px, 525px, '../img/icon-set.png', 'icon-4d', );
$icon-4h-name: 'icon-4h';
$icon-4h-x: 539px;
$icon-4h-y: 175px;
$icon-4h-offset-x: -539px;
$icon-4h-offset-y: -175px;
$icon-4h-width: 32px;
$icon-4h-height: 32px;
$icon-4h-total-width: 639px;
$icon-4h-total-height: 525px;
$icon-4h-image: '../img/icon-set.png';
$icon-4h: (539px, 175px, -539px, -175px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-4h', );
$icon-5-name: 'icon-5';
$icon-5-x: 571px;
$icon-5-y: 239px;
$icon-5-offset-x: -571px;
$icon-5-offset-y: -239px;
$icon-5-width: 32px;
$icon-5-height: 30px;
$icon-5-total-width: 639px;
$icon-5-total-height: 525px;
$icon-5-image: '../img/icon-set.png';
$icon-5: (571px, 239px, -571px, -239px, 32px, 30px, 639px, 525px, '../img/icon-set.png', 'icon-5', );
$icon-5h-name: 'icon-5h';
$icon-5h-x: 603px;
$icon-5h-y: 239px;
$icon-5h-offset-x: -603px;
$icon-5h-offset-y: -239px;
$icon-5h-width: 32px;
$icon-5h-height: 30px;
$icon-5h-total-width: 639px;
$icon-5h-total-height: 525px;
$icon-5h-image: '../img/icon-set.png';
$icon-5h: (603px, 239px, -603px, -239px, 32px, 30px, 639px, 525px, '../img/icon-set.png', 'icon-5h', );
$icon-6-name: 'icon-6';
$icon-6-x: 539px;
$icon-6-y: 333px;
$icon-6-offset-x: -539px;
$icon-6-offset-y: -333px;
$icon-6-width: 32px;
$icon-6-height: 28px;
$icon-6-total-width: 639px;
$icon-6-total-height: 525px;
$icon-6-image: '../img/icon-set.png';
$icon-6: (539px, 333px, -539px, -333px, 32px, 28px, 639px, 525px, '../img/icon-set.png', 'icon-6', );
$icon-6h-name: 'icon-6h';
$icon-6h-x: 571px;
$icon-6h-y: 333px;
$icon-6h-offset-x: -571px;
$icon-6h-offset-y: -333px;
$icon-6h-width: 32px;
$icon-6h-height: 28px;
$icon-6h-total-width: 639px;
$icon-6h-total-height: 525px;
$icon-6h-image: '../img/icon-set.png';
$icon-6h: (571px, 333px, -571px, -333px, 32px, 28px, 639px, 525px, '../img/icon-set.png', 'icon-6h', );
$icon-7-name: 'icon-7';
$icon-7-x: 571px;
$icon-7-y: 389px;
$icon-7-offset-x: -571px;
$icon-7-offset-y: -389px;
$icon-7-width: 32px;
$icon-7-height: 16px;
$icon-7-total-width: 639px;
$icon-7-total-height: 525px;
$icon-7-image: '../img/icon-set.png';
$icon-7: (571px, 389px, -571px, -389px, 32px, 16px, 639px, 525px, '../img/icon-set.png', 'icon-7', );
$icon-7h-name: 'icon-7h';
$icon-7h-x: 539px;
$icon-7h-y: 389px;
$icon-7h-offset-x: -539px;
$icon-7h-offset-y: -389px;
$icon-7h-width: 32px;
$icon-7h-height: 16px;
$icon-7h-total-width: 639px;
$icon-7h-total-height: 525px;
$icon-7h-image: '../img/icon-set.png';
$icon-7h: (539px, 389px, -539px, -389px, 32px, 16px, 639px, 525px, '../img/icon-set.png', 'icon-7h', );
$icon-8-name: 'icon-8';
$icon-8-x: 539px;
$icon-8-y: 301px;
$icon-8-offset-x: -539px;
$icon-8-offset-y: -301px;
$icon-8-width: 30px;
$icon-8-height: 32px;
$icon-8-total-width: 639px;
$icon-8-total-height: 525px;
$icon-8-image: '../img/icon-set.png';
$icon-8: (539px, 301px, -539px, -301px, 30px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-8', );
$icon-8h-name: 'icon-8h';
$icon-8h-x: 599px;
$icon-8h-y: 269px;
$icon-8h-offset-x: -599px;
$icon-8h-offset-y: -269px;
$icon-8h-width: 30px;
$icon-8h-height: 32px;
$icon-8h-total-width: 639px;
$icon-8h-total-height: 525px;
$icon-8h-image: '../img/icon-set.png';
$icon-8h: (599px, 269px, -599px, -269px, 30px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-8h', );
$icon-9-name: 'icon-9';
$icon-9-x: 571px;
$icon-9-y: 175px;
$icon-9-offset-x: -571px;
$icon-9-offset-y: -175px;
$icon-9-width: 32px;
$icon-9-height: 32px;
$icon-9-total-width: 639px;
$icon-9-total-height: 525px;
$icon-9-image: '../img/icon-set.png';
$icon-9: (571px, 175px, -571px, -175px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-9', );
$icon-9h-name: 'icon-9h';
$icon-9h-x: 603px;
$icon-9h-y: 175px;
$icon-9h-offset-x: -603px;
$icon-9h-offset-y: -175px;
$icon-9h-width: 32px;
$icon-9h-height: 32px;
$icon-9h-total-width: 639px;
$icon-9h-total-height: 525px;
$icon-9h-image: '../img/icon-set.png';
$icon-9h: (603px, 175px, -603px, -175px, 32px, 32px, 639px, 525px, '../img/icon-set.png', 'icon-9h', );
$icon-nyo-popup-bells-name: 'icon-nyo-popup-bells';
$icon-nyo-popup-bells-x: 297px;
$icon-nyo-popup-bells-y: 295px;
$icon-nyo-popup-bells-offset-x: -297px;
$icon-nyo-popup-bells-offset-y: -295px;
$icon-nyo-popup-bells-width: 105px;
$icon-nyo-popup-bells-height: 100px;
$icon-nyo-popup-bells-total-width: 639px;
$icon-nyo-popup-bells-total-height: 525px;
$icon-nyo-popup-bells-image: '../img/icon-set.png';
$icon-nyo-popup-bells: (297px, 295px, -297px, -295px, 105px, 100px, 639px, 525px, '../img/icon-set.png', 'icon-nyo-popup-bells', );
$icon-prize-icon-name: 'icon-prize-icon';
$icon-prize-icon-x: 539px;
$icon-prize-icon-y: 0px;
$icon-prize-icon-offset-x: -539px;
$icon-prize-icon-offset-y: 0px;
$icon-prize-icon-width: 100px;
$icon-prize-icon-height: 105px;
$icon-prize-icon-total-width: 639px;
$icon-prize-icon-total-height: 525px;
$icon-prize-icon-image: '../img/icon-set.png';
$icon-prize-icon: (539px, 0px, -539px, 0px, 100px, 105px, 639px, 525px, '../img/icon-set.png', 'icon-prize-icon', );
$icon-wheel-ico-1-name: 'icon-wheel-ico-1';
$icon-wheel-ico-1-x: 0px;
$icon-wheel-ico-1-y: 401px;
$icon-wheel-ico-1-offset-x: 0px;
$icon-wheel-ico-1-offset-y: -401px;
$icon-wheel-ico-1-width: 102px;
$icon-wheel-ico-1-height: 124px;
$icon-wheel-ico-1-total-width: 639px;
$icon-wheel-ico-1-total-height: 525px;
$icon-wheel-ico-1-image: '../img/icon-set.png';
$icon-wheel-ico-1: (0px, 401px, 0px, -401px, 102px, 124px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-1', );
$icon-wheel-ico-10-name: 'icon-wheel-ico-10';
$icon-wheel-ico-10-x: 147px;
$icon-wheel-ico-10-y: 0px;
$icon-wheel-ico-10-offset-x: -147px;
$icon-wheel-ico-10-offset-y: 0px;
$icon-wheel-ico-10-width: 119px;
$icon-wheel-ico-10-height: 161px;
$icon-wheel-ico-10-total-width: 639px;
$icon-wheel-ico-10-total-height: 525px;
$icon-wheel-ico-10-image: '../img/icon-set.png';
$icon-wheel-ico-10: (147px, 0px, -147px, 0px, 119px, 161px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-10', );
$icon-wheel-ico-11-name: 'icon-wheel-ico-11';
$icon-wheel-ico-11-x: 102px;
$icon-wheel-ico-11-y: 401px;
$icon-wheel-ico-11-offset-x: -102px;
$icon-wheel-ico-11-offset-y: -401px;
$icon-wheel-ico-11-width: 106px;
$icon-wheel-ico-11-height: 105px;
$icon-wheel-ico-11-total-width: 639px;
$icon-wheel-ico-11-total-height: 525px;
$icon-wheel-ico-11-image: '../img/icon-set.png';
$icon-wheel-ico-11: (102px, 401px, -102px, -401px, 106px, 105px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-11', );
$icon-wheel-ico-12-name: 'icon-wheel-ico-12';
$icon-wheel-ico-12-x: 409px;
$icon-wheel-ico-12-y: 0px;
$icon-wheel-ico-12-offset-x: -409px;
$icon-wheel-ico-12-offset-y: 0px;
$icon-wheel-ico-12-width: 130px;
$icon-wheel-ico-12-height: 111px;
$icon-wheel-ico-12-total-width: 639px;
$icon-wheel-ico-12-total-height: 525px;
$icon-wheel-ico-12-image: '../img/icon-set.png';
$icon-wheel-ico-12: (409px, 0px, -409px, 0px, 130px, 111px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-12', );
$icon-wheel-ico-13-name: 'icon-wheel-ico-13';
$icon-wheel-ico-13-x: 165px;
$icon-wheel-ico-13-y: 295px;
$icon-wheel-ico-13-offset-x: -165px;
$icon-wheel-ico-13-offset-y: -295px;
$icon-wheel-ico-13-width: 132px;
$icon-wheel-ico-13-height: 100px;
$icon-wheel-ico-13-total-width: 639px;
$icon-wheel-ico-13-total-height: 525px;
$icon-wheel-ico-13-image: '../img/icon-set.png';
$icon-wheel-ico-13: (165px, 295px, -165px, -295px, 132px, 100px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-13', );
$icon-wheel-ico-14-name: 'icon-wheel-ico-14';
$icon-wheel-ico-14-x: 266px;
$icon-wheel-ico-14-y: 0px;
$icon-wheel-ico-14-offset-x: -266px;
$icon-wheel-ico-14-offset-y: 0px;
$icon-wheel-ico-14-width: 143px;
$icon-wheel-ico-14-height: 130px;
$icon-wheel-ico-14-total-width: 639px;
$icon-wheel-ico-14-total-height: 525px;
$icon-wheel-ico-14-image: '../img/icon-set.png';
$icon-wheel-ico-14: (266px, 0px, -266px, 0px, 143px, 130px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-14', );
$icon-wheel-ico-15-name: 'icon-wheel-ico-15';
$icon-wheel-ico-15-x: 147px;
$icon-wheel-ico-15-y: 161px;
$icon-wheel-ico-15-offset-x: -147px;
$icon-wheel-ico-15-offset-y: -161px;
$icon-wheel-ico-15-width: 109px;
$icon-wheel-ico-15-height: 134px;
$icon-wheel-ico-15-total-width: 639px;
$icon-wheel-ico-15-total-height: 525px;
$icon-wheel-ico-15-image: '../img/icon-set.png';
$icon-wheel-ico-15: (147px, 161px, -147px, -161px, 109px, 134px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-15', );
$icon-wheel-ico-16-name: 'icon-wheel-ico-16';
$icon-wheel-ico-16-x: 409px;
$icon-wheel-ico-16-y: 240px;
$icon-wheel-ico-16-offset-x: -409px;
$icon-wheel-ico-16-offset-y: -240px;
$icon-wheel-ico-16-width: 100px;
$icon-wheel-ico-16-height: 129px;
$icon-wheel-ico-16-total-width: 639px;
$icon-wheel-ico-16-total-height: 525px;
$icon-wheel-ico-16-image: '../img/icon-set.png';
$icon-wheel-ico-16: (409px, 240px, -409px, -240px, 100px, 129px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-16', );
$icon-wheel-ico-2-name: 'icon-wheel-ico-2';
$icon-wheel-ico-2-x: 0px;
$icon-wheel-ico-2-y: 134px;
$icon-wheel-ico-2-offset-x: 0px;
$icon-wheel-ico-2-offset-y: -134px;
$icon-wheel-ico-2-width: 119px;
$icon-wheel-ico-2-height: 161px;
$icon-wheel-ico-2-total-width: 639px;
$icon-wheel-ico-2-total-height: 525px;
$icon-wheel-ico-2-image: '../img/icon-set.png';
$icon-wheel-ico-2: (0px, 134px, 0px, -134px, 119px, 161px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-2', );
$icon-wheel-ico-3-name: 'icon-wheel-ico-3';
$icon-wheel-ico-3-x: 208px;
$icon-wheel-ico-3-y: 401px;
$icon-wheel-ico-3-offset-x: -208px;
$icon-wheel-ico-3-offset-y: -401px;
$icon-wheel-ico-3-width: 106px;
$icon-wheel-ico-3-height: 105px;
$icon-wheel-ico-3-total-width: 639px;
$icon-wheel-ico-3-total-height: 525px;
$icon-wheel-ico-3-image: '../img/icon-set.png';
$icon-wheel-ico-3: (208px, 401px, -208px, -401px, 106px, 105px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-3', );
$icon-wheel-ico-4-name: 'icon-wheel-ico-4';
$icon-wheel-ico-4-x: 266px;
$icon-wheel-ico-4-y: 130px;
$icon-wheel-ico-4-offset-x: -266px;
$icon-wheel-ico-4-offset-y: -130px;
$icon-wheel-ico-4-width: 143px;
$icon-wheel-ico-4-height: 110px;
$icon-wheel-ico-4-total-width: 639px;
$icon-wheel-ico-4-total-height: 525px;
$icon-wheel-ico-4-image: '../img/icon-set.png';
$icon-wheel-ico-4: (266px, 130px, -266px, -130px, 143px, 110px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-4', );
$icon-wheel-ico-5-name: 'icon-wheel-ico-5';
$icon-wheel-ico-5-x: 0px;
$icon-wheel-ico-5-y: 295px;
$icon-wheel-ico-5-offset-x: 0px;
$icon-wheel-ico-5-offset-y: -295px;
$icon-wheel-ico-5-width: 165px;
$icon-wheel-ico-5-height: 106px;
$icon-wheel-ico-5-total-width: 639px;
$icon-wheel-ico-5-total-height: 525px;
$icon-wheel-ico-5-image: '../img/icon-set.png';
$icon-wheel-ico-5: (0px, 295px, 0px, -295px, 165px, 106px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-5', );
$icon-wheel-ico-6-name: 'icon-wheel-ico-6';
$icon-wheel-ico-6-x: 418px;
$icon-wheel-ico-6-y: 401px;
$icon-wheel-ico-6-offset-x: -418px;
$icon-wheel-ico-6-offset-y: -401px;
$icon-wheel-ico-6-width: 104px;
$icon-wheel-ico-6-height: 104px;
$icon-wheel-ico-6-total-width: 639px;
$icon-wheel-ico-6-total-height: 525px;
$icon-wheel-ico-6-image: '../img/icon-set.png';
$icon-wheel-ico-6: (418px, 401px, -418px, -401px, 104px, 104px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-6', );
$icon-wheel-ico-7-name: 'icon-wheel-ico-7';
$icon-wheel-ico-7-x: 0px;
$icon-wheel-ico-7-y: 0px;
$icon-wheel-ico-7-offset-x: 0px;
$icon-wheel-ico-7-offset-y: 0px;
$icon-wheel-ico-7-width: 147px;
$icon-wheel-ico-7-height: 134px;
$icon-wheel-ico-7-total-width: 639px;
$icon-wheel-ico-7-total-height: 525px;
$icon-wheel-ico-7-image: '../img/icon-set.png';
$icon-wheel-ico-7: (0px, 0px, 0px, 0px, 147px, 134px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-7', );
$icon-wheel-ico-8-name: 'icon-wheel-ico-8';
$icon-wheel-ico-8-x: 409px;
$icon-wheel-ico-8-y: 111px;
$icon-wheel-ico-8-offset-x: -409px;
$icon-wheel-ico-8-offset-y: -111px;
$icon-wheel-ico-8-width: 110px;
$icon-wheel-ico-8-height: 129px;
$icon-wheel-ico-8-total-width: 639px;
$icon-wheel-ico-8-total-height: 525px;
$icon-wheel-ico-8-image: '../img/icon-set.png';
$icon-wheel-ico-8: (409px, 111px, -409px, -111px, 110px, 129px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-8', );
$icon-wheel-ico-9-name: 'icon-wheel-ico-9';
$icon-wheel-ico-9-x: 314px;
$icon-wheel-ico-9-y: 401px;
$icon-wheel-ico-9-offset-x: -314px;
$icon-wheel-ico-9-offset-y: -401px;
$icon-wheel-ico-9-width: 104px;
$icon-wheel-ico-9-height: 104px;
$icon-wheel-ico-9-total-width: 639px;
$icon-wheel-ico-9-total-height: 525px;
$icon-wheel-ico-9-image: '../img/icon-set.png';
$icon-wheel-ico-9: (314px, 401px, -314px, -401px, 104px, 104px, 639px, 525px, '../img/icon-set.png', 'icon-wheel-ico-9', );
$spritesheet-width: 639px;
$spritesheet-height: 525px;
$spritesheet-image: '../img/icon-set.png';
$spritesheet-sprites: ($icon-1, $icon-10-1, $icon-10, $icon-10h, $icon-11, $icon-11h, $icon-12, $icon-12h, $icon-13, $icon-13h, $icon-1d, $icon-1h, $icon-2, $icon-2h, $icon-3, $icon-3h, $icon-4, $icon-4d, $icon-4h, $icon-5, $icon-5h, $icon-6, $icon-6h, $icon-7, $icon-7h, $icon-8, $icon-8h, $icon-9, $icon-9h, $icon-nyo-popup-bells, $icon-prize-icon, $icon-wheel-ico-1, $icon-wheel-ico-10, $icon-wheel-ico-11, $icon-wheel-ico-12, $icon-wheel-ico-13, $icon-wheel-ico-14, $icon-wheel-ico-15, $icon-wheel-ico-16, $icon-wheel-ico-2, $icon-wheel-ico-3, $icon-wheel-ico-4, $icon-wheel-ico-5, $icon-wheel-ico-6, $icon-wheel-ico-7, $icon-wheel-ico-8, $icon-wheel-ico-9, );
$spritesheet: (639px, 525px, '../img/icon-set.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
